# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
*.venv
*.env

# macOS hidden files
.DS_Store

# Linux temporary files
*.swp
*.swo
*~
*.bak

# Uploads folder (if you don't want to commit uploaded files)
uploads/

# TensorFlow SavedModel files
saved_model/

# Model files (since you don’t include model files like model.h5 and model.json in the repo)
*.h5
*.json

# Logs
logs/
*.log

# System logs
*.log
*.out
*.err

# IDE specific files
.vscode/
.idea/

# Flask cache
*.pyo
instance/
